@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe;
@using RecipeBox.Models


<div>
  <h2>Edit Recipe:</h2>
  @Html.DisplayFor(model => model.Name)

  @using(Html.BeginForm())
  {
    @Html.HiddenFor(model => model.RecipeId)

    @Html.LabelFor(model => model.Name)
    <br>
    @Html.EditorFor(model => model.Name)
    <br>
    
    @Html.LabelFor(model => model.Intro)
    <br>
    @Html.TextAreaFor(model => model.Intro)
    <br>
    
    @Html.LabelFor(model => model.Ingredient)
    <br>
    @Html.TextAreaFor(model => model.Ingredient)
    <br>
    
    @Html.LabelFor(model => model.Instruction)
    <br>
    @Html.TextAreaFor(model => model.Instruction)
    <br>

    @Html.LabelFor(model => model.AuthorId, "Author")
    <br>
    @Html.DropDownListFor(model => model.AuthorId, (SelectList)ViewBag.AuthorId, "Select an Author")

    //Add Remove tad or add tag to recipe
    /////////////////////////////////////////////
    <ul>
    @foreach(RecipeTag join in Model.JoinEntities)
    {
      <li>Tag: @join.Tag.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Recipes"))
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" value="Delete" />
      }
    }
    </ul>
    ///////////////////////////////////////////////
    <input type="submit" value="Save changes" />
  }
    <!-- need to fix deleteJoin -->

  <div class="btm-bar">
    @Html.ActionLink("Add tag to this recipe", "AddTag", new { id = Model.RecipeId })
    @Html.ActionLink("Delete this recipe", "Delete", new { id = Model.RecipeId })
  </div>
</div>