<div class="footer-section">
  @Html.ActionLink("Home page", "Index", "Home")
  @Html.ActionLink("Manage Authors", "Index", "Authors")
  @Html.ActionLink("Manage Recipes", "Index", "Recipes")
  @Html.ActionLink("Manage Tags", "Index", "Tags")
  @Html.ActionLink("Create or manage an account", "Index", "Account")
</div>