@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Author

<div>

  <div>
    @using (@Html.BeginForm())
    {
      @Html.HiddenFor(model => model.UserId)

      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
      @Html.ValidationMessageFor(model => model.Name)

      <input type="submit" value="Create author" />
    }
  </div>

  <div>
    @Html.ActionLink("Show author list", "Index")
  </div>

</div>